<%- include('include/header.ejs')%>

<div class="newuserform">
<form>
    <input type="text" name='id' placeholder="ID"/>
    <input type="text" name='name' placeholder="Name"/>
    <input type="text" name='name' placeholder="Email"/>
    <input type="text" name='name' placeholder="Gender"/>
    <input type="text" name='name' placeholder="Status"/>
    <button type="Submit">Submit</button>
</form>
</div>