<%- include('include/header.ejs')%>

<div id="newuserform">
<form class="adduser">
    <div class="namecolumn">
        <input type="text" name='name' placeholder="Name" class="name"/>
        <label class="namelabel"></label>
    </div>
    <div class="emailcolumn">
    <input type="email" name='email' placeholder="Email" class="email"/>
    <label class="emaillabel"></label>
    </div>
    <div class="status">
        <h4>Gender:</h4>    
            <section>
                <span>
                    <label for="male">Male</label>
                    <input type="radio" name="gender"  id="male" value="male" class="gender">
          
                </span>
            <span>
                <label for="female">Female</label>
                <input type="radio" name="gender"  id="female" value="female" class="gender">
            </span>
            </section>
          </div>
    <div class="status">
    <h4>Status:</h4>    
        <section>
            <span>
                <label for="Working">Working</label>
                <input type="radio" name="status"  id="working" value="working" class="status">
            </span>
        <span>
            <label for="nonworking">Non Working</label>
            <input type="radio" name="status"  id="nonworking" value="nonworking" class="status">
        </span>
        </section>
      </div>
    <button type="Submit" class="submitbutton">Submit</button>
    <label style="color: red;" id="errormessage"></label>
</form>
</div>

<%-include('include/footer.ejs')%>