<%-include('include/header')%>

<!-- Main section -->
<main id="site-main">
    <div class="container"> 
        <div class="main-container">
            <div class="userbutton">    
                <a href="/add-user" class="border-shadow">
                 New User
                </a>
            </div>
                <div class="searchbox"> 
                    <input type="search" class="search">   
                    <a href="#" class="border-shadow searchBtn">
                      Search
                    </a>  
                </div>
            </div>
        <Form action="/" method="post">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </Form>
    </div>
    </main>
<%-include('include/footer')%>
