<section class="footer">
    <div class="footerpart1">
        <h3>Contact Sudhakar</h3>
        <h4>+35389226362322</h4>
    </div>
    <div class="footerpart2">
        <h3>Name</h3>
        <h4>Sudhakar</h4>
    </div>
    <div class="footerpart3">
        <h3>Course</h3>
        <h4>MS Information System with computing</h4>
    </div>
    <div class="footerpart4">
        <h3>Place</h3>
        <h4>Ireland, Dublin</h4>
    </div>
    <div class="footerpart4">
        <h3>Currently Located</h3>
        <h4>Dublin</h4>
    </div>
</section>
<script src="/static/javascript/index.js"></script>
</body>
</html>