<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management System</title>
    <link href="/static/css/index.css" rel="stylesheet"/>
</head>
<body>
    <div class="title">
        <h1><a href="/" style="text-decoration: none;">User Management System</a></h1>
    </div>
  