body{
    padding:0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: bisque;
}
#site-main
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.main-container
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}
.container
{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
form
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
form .submitbutton
{
    background-color: rgb(84, 3, 84);
    color: white;
    border: none;
    padding: 10px;
    font-size: 14px;
    margin-top: 20px;
}
.table
{
    width: 60%;
    height: 100%;
}
.table thead 
{
    width:100%;
    height: 70%;
    margin-top: 20px;
}
.table .theadmain
{
    background-color: greenyellow;
}
.table .theadmain th
{
    width: 200px;
    height: 5px;
}
.table thead  tr
{
    width: 50px;
}
.newuserform
{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: auto;
}
.newuserform form
{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: auto;
}
.newuserform form .submitbutton,input
{
    margin-top: 30px;
    width: 150px;
}
.userbutton
{
    background-color: blanchedalmond;
    padding: 10px;
}
.userbutton a
{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.searchbox
{
    background-color:blanchedalmond;
    padding: 5px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.status
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.status section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.status section span
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin-left: 20px;
    margin-top: 10px;
    height: auto;
}
tbody
{
    background-color: red;
}
.thead
{

    margin-top: 10px;
    height: 100%;
}